#bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#footer {
    position: absolute;
    height: 70px;
    bottom: 0px;
    left: 140px;
    right: 0px;
    margin-bottom: 0px;
}