{% include 'nav.html' %}

{% load static %}

<body id="bg">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" style="color: red">
        <p style="color: blue"></p>
      </div>



      <div class="col-sm-6" style="padding-top: 87px">
        <div class="card">
          <div class="card-header text-primary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>


        <div class="card mb-4">
          <div class="card-body">

            <div class="row">
              <div class="col-sm-4"></div>
              <div class="form-group">
                <p id="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper pulvinar neque.
                  Vestibulum quam turpis, porttitor non ante vel, suscipit porta nulla. Curabitur egestas urna vitae
                  elit tempus accumsan. In pretium lectus eget lacinia gravida. Fusce convallis, est suscipit mattis
                  vehicula, diam ipsum condimentum massa, ut molestie lacus orci sed odio. Nam vehicula varius arcu, non
                  eleifend tellus suscipit vel. Cras et leo rutrum, bibendum justo a, consequat felis. Ut ac mauris
                  placerat, cursus neque quis, fringilla massa. Vestibulum vitae urna lobortis, pretium neque eget,
                  vehicula elit. Praesent a ipsum a nulla porttitor malesuada eu sit amet eros. Integer scelerisque quam
                  erat, eget venenatis purus ultrices non. Etiam tristique lobortis felis et sagittis. Integer quis
                  ipsum dui. Nullam consequat enim sollicitudin pharetra condimentum. Etiam mattis ex ut metus cursus,
                  non egestas ligula fermentum.

                  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus
                  augue eros, hendrerit nec lorem id, rhoncus aliquet lectus. Vestibulum ultrices nisl nec cursus
                  lobortis. Morbi congue sed enim vitae accumsan. Integer semper tempus felis, id aliquet tellus
                  condimentum eu. Ut vitae tellus vitae tellus tempor maximus et ac metus. Morbi pellentesque tortor
                  purus, vel dapibus velit ultricies ac. Praesent commodo nibh vitae maximus pharetra.</p>
              </div>

              <div class="col-sm-4"></div>
            </div>


          </div>
        </div>
      </div>

    </div>



    <div class="col-sm-3" style="color: red">
    </div>

  </div>
  </div>

  <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>